body{
    background-color: aliceblue;
    animation-direction: normal;
}
textarea{
    border: 2px;
    border-color: rgb(3, 3, 12);
    border-radius: 2px;
}
h3{
    color: rgb(rgb(17, 13, 13), rgb(4, 12, 4), rgb(3, 3, 7));
}


/*    align-content: center;*/

/*
div{
    position: sticky;
}
*/
